* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url(https://da28rauy2a860.cloudfront.net/wellbeing/wp-content/uploads/2020/01/28143614/sean-o-KMn4VEeEPR8-unsplash-800x532.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  padding: 20px 70px;
  color: white;
}
.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.date-container {
  font-weight: 100px;
}
.date-container .time {
  font-size: 70px;
  font-weight: 10px;
}
.date-container #am-pm {
  font-size: 30px;
  margin-left: 20px;
}
.date-container .date {
  font-size: 30px;
}
.current-info .others {
  display: flex;
  flex-direction: column;
  background-color: rgba(24, 24, 27, 0.6);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid white;
}
.current-info .others .weather-item {
  display: flex;
  justify-content: space-between;
}
.future-forecast {
  background: rgba(24, 24, 27, 0.6);
  padding: 25px;
  position: fixed;
  bottom: 0%;
  display: flex;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.future-forecast .today {
  display: flex;
  text-align: center;
  justify-content: center;
}
.future-forecast .today .day {
  padding: 5px 15px;
  background: #3c3c44;
  border-radius: 50px;
  text-align: center;
}

.future-forecast .weather-forecast {
  display: flex;
}
